<div class="container" id="main-container">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="fullName">fullName</label>
        <input
          type="text"
          class="form-control"
          id="fullName"
          required
          [(ngModel)]="entity.fullName"
          name="fullName"
        />

      </div>

      <div class="form-group">
        <label for="telephone">phoneNumber</label>
        <input
          class="form-control"
          id="phoneNumber"
          required
          [(ngModel)]="entity.phoneNumber"
          name="phoneNumber"
          type="string"
        />
      </div>
      <div class="form-group">
        <label for="email">E-mail </label>
        <input
            type="email"
          class="form-control"
          id="email"
          required
          [(ngModel)]="entity.email"
          name="email"
        />
      </div>
      <div class="form-group">
          <label for="passwd">passwd</label>
          <input
            type="password"
            class="form-control"
            id="passwd"
            required
            [(ngModel)]="entity.password"
            name="passwd"
          />
        </div>
       

      <button (click)="add()" class="btn btn-success">Submit</button>
    </div>
    <div *ngIf="submitted">
      <h4>Manager was submitted successfully!</h4>
      <button class="btn btn-success" (click)="navigate()">Add</button>
    </div>
  </div>
</div>
